<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Collapsible sidebar using Bootstrap 3</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!-- Sidebar from W3schools -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename=brand+'/css/style4.css')}}">

        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
           
    </head>
    <body>
        <div class="app">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <img  id="logo" align:center style="padding:auto;display:table;margin:auto;align-content: center;" src="{{url_for('static', filename=brand+'/images/logo.png')}}" alt="Logo" width="75px"/>
                <br />
                <hr width=75% style="display:table;margin:auto;align-content:center;color:rgba(255,255,255,0.2);"/>
                <a class="{{menuHome}}" href="/"><i class="glyphicon glyphicon-home"></i>   Home</a>
                <a class="{{menuNew}}" href="/new"><i class="glyphicon glyphicon-plus"></i>   Provision New</a>
                <a class="{{menuManage}}" href="/manage"><i class="glyphicon glyphicon-cog"></i>   Manage</a>
                <a class="{{menuConsole}}"href="/console"><i class="glyphicon glyphicon-user"></i>   Console</a>
            </div>
            <div class="header" id="header">
                <span id="toggle" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <img  id="logo" src="{{url_for('static', filename=brand+'/images/logo.png')}}" alt="Logo" width="75px"/>
            </div>

            <!-- Overlay -->
            <div class="w3-overlay" onclick="closeNav()" style="cursor:pointer" id="myOverlay"></div>

            <div class="wrapper">

                <!-- Page Content Holder -->
                <div id="content">
                    
                    {% block body %} 
                        <!-- CONTENT GOES HERE --><!--  SEE SUBPAGES/HOME.HTML  -->
                    {% endblock %}

                </div>
            </div>
        </div>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("mySidenav").style.right = "250px";
                document.getElementById("mySidenav").style.left = "0";
                document.getElementById("content").style.marginLeft = "250px";
                document.getElementById("header").style.marginLeft = "250px";
                document.getElementById("myOverlay").style.display = "block";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.right = "0";
                document.getElementById("mySidenav").style.left = "-250px";
                document.getElementById("content").style.marginLeft= "0";
                document.getElementById("header").style.marginLeft = "0";
                document.getElementById("myOverlay").style.display = "none";
            }
        </script>
        
    </body>
</html>
