{% extends "en/base.html" %}
{% block body %}

        <h1>Access is Restricted - 401</h1>
        <p>Anonymous access to this page is prohibited</p>

        <hr />

        <p>You must <a href="/login" class="link">log in</a> to access this resource</p>


{% endblock %}