{% extends "en/base.html" %}
{% block body %}

        <h1>Internal Server Error - 500</h1>
        <p>Oops, our bad! Our server has an unexpected error. We will reolve it soon!</p>

        
        <hr>

        <p>Whoops! This is embaressing. There must have been an issue on our side, please contact nathaniel.vala@au.ey.com and he will help out!. </p>
        <p>Hopefully we can have this page back up for you shortly!</p>

{% endblock %}