{% block body %}

	<a href="" data-toggle="modal" data-target="#LDL"><div class="card">
		<img src="{{url_for('static', filename=brand+'/images/VM.png')}}" alt="Avatar" style="width:100%">
		<div class="cardBody">
			<h4><b>Linux DataLab</b></h4> 
			<p>Provision a Linux virtual machine for data science activities</p> 
		</div>
	</div></a>

	<div class="modal fade" id="LDL" tabindex="-1" role="dialog" aria-labelledby="LinuxDLModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title" id="exampleModalLabel">New Linux DataLab</h3>
					
				</div>  
				<div class="modal-body">
					<form class="form-signin" method="POST" action="{{ url_for('provision') }}" align=center>

							<div style="margin:5px;width:100%;"><input type="text" name="pn" id="ldlpn" placeholder="Project Name" class="form-control" value="{{request.form.pn}}" required autofocus="true" /></div>
							<div style="margin:5px;width:100%;"><input type="text" name="pd" id="ldlpd" placeholder="Project Description" class="form-control" value="{{request.form.pd}}" required autofocus /></div>
							<div style="margin:5px;width:100%;"><select type="text" name="size" id="ldlsize" class="form-control" value="{{request.form.size}}" required autofocus><option>Small</option><option>Medium</option><option>Small</option></select></div>
							<br />
							<button style="margin-top: 5px"id="ldlbtnprovision" class="btn btn-lg btn-primary btn-block" type="submit">Provision</button>

					</form>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>

    
{% endblock %}