/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {--main-colour: #d31145;--main-accent: #22a8da;}

.lk2 {
    color:var(--main-accent);
    text-decoration:underline
}

code {
    font-family:monospace,monospace;
    font-size:1em;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    max-width:100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    /*align-items: stretch;*/
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--main-colour);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--main-colour);
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--main-colour);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: var(--main-colour);
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: var(--main-colour);
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--main-colour);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--main-colour);
}

a.article, a.article:hover {
    background: var(--main-colour) !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}
.cardBody {
    display: inherit;
    overflow: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}






/* AIA Code */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.responsive-images-transparency{zoom:1;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=10);opacity:0}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:transparent}
body{margin:0;min-width:320px;overflow-x:hidden;font-family:"AIABody",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:15px;line-height:1.42857;color:#554344;background-color:#fff}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;text-decoration:none}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button{overflow:visible;font-family:inherit;font-size:inherit;line-height:inherit}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal;font-family:inherit;font-size:inherit;line-height:inherit}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
@font-face{font-family:'AIATitle';src:url("aia-header/fonts/AIAEverest-CondensedMedium.eot");src:url("aia-header/fonts/AIAEverest-CondensedMedium.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-CondensedMedium.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-CondensedMedium.woff") format("woff"),url("aia-header/fonts/AIAEverest-CondensedMedium.otf") format("opentype"),url("aia-header/fonts/AIAEverest-CondensedMedium.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-CondensedMedium.svg#AIAEverestCondensedMedium") format("svg");font-weight:500;font-style:normal}
@font-face{font-family:'AIABody';src:url("aia-header/fonts/AIAEverest-Regular.eot");src:url("aia-header/fonts/AIAEverest-Regular.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-Regular.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-Regular.woff") format("woff"),url("aia-header/fonts/AIAEverest-Regular.otf") format("opentype"),url("aia-header/fonts/AIAEverest-Regular.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-Regular.svg#AIAEverestCondensed") format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'AIABody';src:url("aia-header/fonts/AIAEverest-Medium.eot");src:url("aia-header/fonts/AIAEverest-Medium.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-Medium.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-Medium.woff") format("woff"),url("aia-header/fonts/AIAEverest-Medium.otf") format("opentype"),url("aia-header/fonts/AIAEverest-Medium.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-Medium.svg#AIAEverestCondensed") format("svg");font-weight:600;font-style:normal}
@font-face{font-family:'Calibri';src:local("Calibri");font-weight:bold}
ul,ol{margin-top:0;margin-bottom:0}
ol,ul{margin-left:0;padding-left:1.5em}

html,body{-webkit-font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.navbar-tools .search-input,.h4,.circular-chart-container .donut-chart-label tspan,.circular-chart-container .highcharts-title tspan,.h5,.navmenu-default .navmenu-nav>li>a span,.navbar-default .navbar-offcanvas .navmenu-nav>li>a span,.h6{font-family:"AIATitle","Calibri",sans-serif;font-weight:inherit;text-transform:uppercase;margin-top:0;margin-bottom:0}
h1,.h1{font-size:48px;line-height:44px}
h2,.h2{font-size:48px;line-height:44px}
h3,.h3,.navbar-tools .search-input{font-size:32px;line-height:28px}
h4,.h4,.circular-chart-container .donut-chart-label tspan,.circular-chart-container .highcharts-title tspan{font-size:24px;line-height:22px}
h5,.h5,.navmenu-default .navmenu-nav>li>a span,.navbar-default .navbar-offcanvas .navmenu-nav>li>a span{font-size:20px;line-height:20px}
h6,.h6{font-size:20px;line-height:20px}
p{margin-top:0;margin-bottom:0}