{% extends "en/base.html" %}
{% block body %}

<h2>Receive:</h2>
<div id="log"></div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        namespace = '/console';
        
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        
        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });
        
        socket.on('my_response', function(msg) {
            var d = new Date (Date.now());
            $('#log').append('<br>' + $('<div/>').text("[" + " " + d.getHours() + ":" + d.getMinutes() + " - " + d.getDate() + " " + (d.getMonth() +1) + "] : " + msg.data).html());
        });
    });
</script>

{% endblock %}