<html>
    <head>
        <title>Azure AD v2.0 App</title>
    </head>
    <body>
        <h1>Successfully Logged In! </h1>
        <h3><br><br><br>User's Claims<br><br><br><br>{{ me }}</h3><br><br><br>
         <form action = "{{url_for('logout')}}" method = "POST">
            <p><input type="submit" value="Logout" style="width:400px"></p>
        </form>
    </body>
</html>