{% extends "en/base.html" %}
{% block body %}

<h1>Platform Accelerator</h1>
<br />
<hr />
<h3>What is a Platform Accelerator</h3>
<p>
Some text
</p>

<br />

<h3>How does it all work?</h3>
<p>more text</p>

<br />
<h3>How customisable is it?</h3>
<p>Very!</p>


{% endblock %}