/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {--main-colour: #d31145;--main-accent: #22a8da; --main-dark: #302f2c; --main-white: #fff}

.lk2 {
    color:var(--main-accent);
    text-decoration:underline
}

code {
    font-family:monospace,monospace;
    font-size:1em;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    max-width:100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.nav-custom {
    padding: auto;
    margin: auto;
    background-color: var(--main-colour);
    color: #fff;
}

.button-active{
    background-color: var(--main-white);
    color: var(--main-accent);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 200px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}
.cardBody {
    display: inherit;
    overflow: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}






/* AIA Code */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.responsive-images-transparency{zoom:1;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=10);opacity:0}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:transparent}
body{margin:0;min-width:320px;overflow-x:hidden;font-family:"AIABody",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:15px;line-height:1.42857;color:#554344;background-color:#fff;transition: background-color .5s;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;text-decoration:none}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button{overflow:visible;font-family:inherit;font-size:inherit;line-height:inherit}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal;font-family:inherit;font-size:inherit;line-height:inherit}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
@font-face{font-family:'AIATitle';src:url("aia-header/fonts/AIAEverest-CondensedMedium.eot");src:url("aia-header/fonts/AIAEverest-CondensedMedium.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-CondensedMedium.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-CondensedMedium.woff") format("woff"),url("aia-header/fonts/AIAEverest-CondensedMedium.otf") format("opentype"),url("aia-header/fonts/AIAEverest-CondensedMedium.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-CondensedMedium.svg#AIAEverestCondensedMedium") format("svg");font-weight:500;font-style:normal}
@font-face{font-family:'AIABody';src:url("aia-header/fonts/AIAEverest-Regular.eot");src:url("aia-header/fonts/AIAEverest-Regular.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-Regular.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-Regular.woff") format("woff"),url("aia-header/fonts/AIAEverest-Regular.otf") format("opentype"),url("aia-header/fonts/AIAEverest-Regular.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-Regular.svg#AIAEverestCondensed") format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'AIABody';src:url("aia-header/fonts/AIAEverest-Medium.eot");src:url("aia-header/fonts/AIAEverest-Medium.eot?#iefix") format("embedded-opentype"),url("aia-header/fonts/AIAEverest-Medium.woff2") format("woff2"),url("aia-header/fonts/AIAEverest-Medium.woff") format("woff"),url("aia-header/fonts/AIAEverest-Medium.otf") format("opentype"),url("aia-header/fonts/AIAEverest-Medium.ttf") format("truetype"),url("aia-header/fonts/AIAEverest-Medium.svg#AIAEverestCondensed") format("svg");font-weight:600;font-style:normal}
@font-face{font-family:'Calibri';src:local("Calibri");font-weight:bold}
ul,ol{margin-top:0;margin-bottom:0}
ol,ul{margin-left:0;padding-left:1.5em}

html,body{-webkit-font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.navbar-tools .search-input,.h4,.circular-chart-container .donut-chart-label tspan,.circular-chart-container .highcharts-title tspan,.h5,.navmenu-default .navmenu-nav>li>a span,.navbar-default .navbar-offcanvas .navmenu-nav>li>a span,.h6{font-family:"AIATitle","Calibri",sans-serif;font-weight:inherit;text-transform:uppercase;margin-top:0;margin-bottom:0;color:var(--main-dark);text-align: center}
h1,.h1{font-size:48px;line-height:44px;font-weight: bold;}
h2,.h2{font-size:48px;line-height:44px}
h3,.h3,.navbar-tools .search-input{font-size:32px;line-height:28px}
h4,.h4,.circular-chart-container .donut-chart-label tspan,.circular-chart-container .highcharts-title tspan{font-size:24px;line-height:22px}
h5,.h5,.navmenu-default .navmenu-nav>li>a span,.navbar-default .navbar-offcanvas .navmenu-nav>li>a span{font-size:20px;line-height:20px}
h6,.h6{font-size:20px;line-height:20px}
p{margin-top:0;margin-bottom:0;text-align: center}
a{background-color:transparent;text-decoration:underline;color:var(--main-accent)}

/* SideMenu (Menu that pops out on the side)  */
.sidenav {height: 100%;width: 0;position: fixed;z-index: 5;top: 0;left: 0;background-color: var(--main-dark);overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 18px;color: var(--main-white);display: block;transition: 0.3s;}
.sidenav a:hover {color: white;}
.sidenav .active {background-color:var(--main-accent);}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#content {transition: margin-left .5s;padding: 16px;}
@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;}.sidenav a {font-size: 18px;}}

/* Header (bar at the top)  */
.header {overflow: hidden;background-color: var(--main-colour);transition: margin-left .5s;padding: 16px;}
.header #toggle {float: left;color: var(--main-white);text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;}
.header #logo {display:table;float: center;color: var(--main-white);text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;margin-left:auto;margin-right:auto;}
.header #other {float: right;color: var(--main-white);text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;}
.topnav a:hover {background-color: #ddd;color: black;}

/* login Page  */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-dark);
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--main-accent);
    color: var(--main-white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}


/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}